@import "./variables";

.available-colors-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  place-items: center;
  margin-top: 5vh;
  background-color: $wood;
  width: fit-content;
  padding: 1rem;
  gap: 0.4rem;
  border-radius: $border-radius;

  button {
    @extend %color-button;
  }
}

.square {
  border-radius: 50%;
  display: flex;
}
