@import "./variables";
//whole bottom stuff
.select-color {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: flex-end;
  gap: 2rem;
}
.current-color {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .color {
    border: 10px solid lighten($wood, 20%);
    border-radius: 50px;
    background-color: $wood;
    height: 6rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.available-colors-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
  border: 10px solid lighten($wood, 20%);
  border-radius: 50px;
  background-color: $wood;
  width: fit-content;
  padding: 1rem;
  gap: 0.4rem;

  button {
    @extend %color-button;
  }
}

.square {
  border-radius: 50%;
  display: flex;
}
