.size10 {
  height: 3rem;
  min-height: 3rem;
  width: 3rem;
  min-width: 3rem;
  border-radius: 50%;
}

button {
  border-radius: 50%;
}

.size20 {
  height: 10rem;
  min-height: 10rem;
  width: 10rem;
  min-width: 10rem;
}

%color-button {
  border: none;
  box-shadow: inset 0px 0px 10px rgba(53, 53, 53, 0.9);
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 8px;
    right: 6px;
    width: 20px;
    height: 20px;
    background: radial-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0)
    );
    border-radius: 50%;
    filter: blur(3px);
  }
}

%empty-slot {
  background: #32271c;
  border: none;
  box-shadow: inset 5px 5px 19px rgb(53, 39, 22);
}
