@import "./variables";

.row-main {
  background-color: $wood;
  padding: 0.5rem 0;
  margin: 0.2rem 0;
  width: fit-content;
  min-width: 349px;
  border-radius: $border-radius;
  button {
    @extend %empty-slot;
  }
}

.row-main-container {
  display: grid;
  grid-template-columns: 3fr 0.5fr;
  gap: 3rem;
  padding: 0.5rem 2rem;
  place-items: center;
}

.row-circles-container {
  margin: 0 auto;
  display: flex;
  gap: 0.4rem;
}

.row-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: fit-content;
  gap: 0.4rem;
}
