@import './buttons';
@import './row';
@import './availableColors';
@import './start';
@import './game';

body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: monospace;
	font-size: 18px;
	font-weight: 600;
	line-height: 2.2rem;
	text-align: left;
	background-color: lemonchiffon;
}

.page-content {
	width: 100%;
	height: 100%;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: none;
	background-color: lemonchiffon;
}
.white {
	border-radius: 50%;
	background-color: white !important;
}

.green {
	border-radius: 50%;
	background-color: #00f700 !important;
}

.back {
	position: absolute;
	top: 20px;
	left: 20px;
	text-decoration: none;
	color: $blue;
}

.arrow {
	border: solid $blue;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
}

.left {
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
	margin-right: 0.2rem;
}
