.row-main {
	background-color: #bb906b;
	padding: 0.5rem 0;
	border: 1px double black;
	margin: 0.2rem 0;
}

.row-main-container {
	width: 40%;
	display: grid;
	grid-template-columns: 3fr 1fr;
	margin: 0 auto;
}

.row-circles-container {
	width: 50%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.row-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	width: 40%;
	place-items: center;
}
